USE [master]
GO
/****** Object:  Database [StokTakip]    Script Date: 30.05.2025 01:44:51 ******/
CREATE DATABASE [StokTakip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StokTakip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StokTakip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StokTakip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StokTakip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StokTakip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StokTakip]
GO
/****** Object:  Table [dbo].[KategoriTablo]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategoriTablo](
	[KategoriNo] [int] IDENTITY(1,1) NOT NULL,
	[Kategori] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Soyad] [nvarchar](20) NOT NULL,
	[Cinsiyet] [bit] NULL,
	[KullaniciTuru] [nvarchar](20) NOT NULL,
	[KullaniciAdi] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](20) NOT NULL,
	[Sirket] [varchar](max) NOT NULL,
	[KayitTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisTablo]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisTablo](
	[IslemTarihi] [datetime] NOT NULL,
	[SatisFiyati] [float] NOT NULL,
	[Kar] [float] NOT NULL,
	[KalanUrun] [int] NOT NULL,
	[StokKodu] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StokTabloSatici]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokTabloSatici](
	[StokKodu] [int] IDENTITY(1,1) NOT NULL,
	[StokAdi] [nvarchar](50) NOT NULL,
	[KalanMiktar] [int] NOT NULL,
	[AlisFiyati] [float] NOT NULL,
	[SatisFiyati] [float] NOT NULL,
	[KategoriNo] [int] NOT NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_StokTablo] PRIMARY KEY CLUSTERED 
(
	[StokKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[StokTabloSatici] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[SatisTablo]  WITH CHECK ADD  CONSTRAINT [FK_SatisTablo_StokTabloSatici] FOREIGN KEY([StokKodu])
REFERENCES [dbo].[StokTabloSatici] ([StokKodu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisTablo] CHECK CONSTRAINT [FK_SatisTablo_StokTabloSatici]
GO
ALTER TABLE [dbo].[StokTabloSatici]  WITH CHECK ADD  CONSTRAINT [FK_StokTabloSatici_KategoriTablo] FOREIGN KEY([KategoriNo])
REFERENCES [dbo].[KategoriTablo] ([KategoriNo])
GO
ALTER TABLE [dbo].[StokTabloSatici] CHECK CONSTRAINT [FK_StokTabloSatici_KategoriTablo]
GO
/****** Object:  StoredProcedure [dbo].[AzalanStok]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AzalanStok]
as
Select Count(*) From StokTabloSatici Where KalanMiktar <= 5
GO
/****** Object:  StoredProcedure [dbo].[KalanUrunOrtalamasi]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[KalanUrunOrtalamasi]
as
Select AVG(KalanUrun) From SatisTablo
GO
/****** Object:  StoredProcedure [dbo].[OrtalamaKar]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[OrtalamaKar]
AS
Select AVG(SatisFiyati-AlisFiyati) From StokTabloSatici
GO
/****** Object:  StoredProcedure [dbo].[ToplamKategori]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ToplamKategori]
As
Select Count(DISTINCT KategoriNo) From StokTabloSatici
GO
/****** Object:  StoredProcedure [dbo].[ToplamKazanc]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ToplamKazanc]
as
Select SUM(Kar) From SatisTablo
GO
/****** Object:  StoredProcedure [dbo].[ToplamKullanici]    Script Date: 30.05.2025 01:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[ToplamKullanici]
as
Select COUNT(*) From Kullanicilar
GO
USE [master]
GO

